{% extends "base.html" %}
{% load gravatar %}

{% block content %}

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Blog
                    <small>Our Views On The World Today</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="{%  url 'index'  %}">Home</a>
                    </li>
                    <li class="active">Blog</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->


          <!-- New Blog Button -->
        {% if user.is_authenticated %}
        <button class="btn btn-primary" onclick="location.href='{% url 'new_post' %}'">Add A New Blog Post</button>

         <hr>
        {% endif %}

        <!-- Blog Post Row -->
        {% for post in posts %}

        <div class="row">
            <div class="col-md-3 text-center">

                <p><strong>{{ post.published_date }}</strong></p>
            </div>
            <div class="col-md-2">
                <a onclick="location.href={{ post.id }}">
                    <img src="{% gravatar_url post.author.email 150 %}" class="img-responsive img-hover blogimage" onclick="location.href={{ post.id }}">
                </a>
            </div>
            <div class="col-md-7">
                <h3>
                    <a class="colourblack" onclick="location.href={{ post.id }}">{{ post.title }}</a>
                </h3>
                <p>by <a class="colourblack" >{{ post.author }}</a>
                </p>
                <p>{{ post.content|truncatewords:30 }}</p>
                 <p><strong>Views</strong> {{ post.views }} | <strong>Tag </strong>{{ post.tag }}</p>
                <a class="btn btn-primary" onclick="location.href={{ post.id }}">Read More <i class="fa fa-angle-right"></i></a>
                <hr>
            </div>
        </div>
        <!-- /.row -->

    {% endfor %}
{% endblock %}
