{% extends "base.html" %}
{% load gravatar %}


{% block content %}

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Blog Post
                    <small>by <a style="color: black" href="#">"{{ post.author }}" </a>
                    </small>

                </h1>
                <ol class="breadcrumb" style="border: darkred solid 5px">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li class="active">Blog Post</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">

            <div class="col-md-2 col-sm-3 text-center">
                <a class="story-img" href="#">
                    <img style="border: darkred solid 5px" src="{% gravatar_url post.author.email 150 %}">

                </a>

            </div>
                <!-- Blog Post Content Column -->
{#            <div class="col-lg-10">#}


            <div class="col-md-10 col-sm-9">

                    <!-- Blog Post Title-->
                    <h3>{{ post.title }}</h3>
                    <div class="row">

                        <!-- Blog Post Image-->
                        <div class="col-xs-9">
                            {% if post.image %}
                            <img class="img-responsive" src="{{ MEDIA_URL }}{{ post.image}}">
                            {% endif %}

                            <!-- Blog Post Content-->
                            <p>{{ post.content }}</p>

                             <!-- Date/Time -->
                            <p><i class="fa fa-clock-o"></i> Posted on {{ post.published_date }} | <strong>Views</strong> {{ post.views }} | <strong>Tag </strong>{{ post.tag }}</p>

                             <hr>

                            <p>
                                <button class="btn btn-primary" onclick="location.href={%  url 'blog'  %}">Back To Blog</button>
                                <button class="btn btn-primary" onclick="location.href='edit'">Edit</button>
                            </p>
                            <p>{{ post.published_date }} | <strong>Views</strong> {{ post.views }} |
                                <strong>Tag </strong>{{ post.tag }}</p>
                            <div style="background-color: white; padding: 5px; border-radius: 5px"> {% load disqus_tags %} {% set_disqus_title post.title %} {% disqus_show_comments %}</div>
                        </div>
                    </div>
            </div>



{#            </div>#}
        </div>
        <!-- /.row -->
    </div>
        <hr>

{% endblock %}