/*CSS User Stylesheet*/
/*Divided into Elements, IDs and Classes sections*/

/*Elements*/

body {
    background: whitesmoke;
}

/*IDs*/

#acropolisimage {
    width: 100%;
}

#footerDiv {
    text-align: center;
    font-weight: bold;
}

#profilemenu {
    padding-top: 30px;
}

#profilecolumn {
    padding-left: 50px;
}

#eisenhowerimage {
    border: 5px darkred solid;
    border-radius: 10px;
    opacity: .8;
}

#blogpostauthorcolour {
    color: black;
}

#disqusdiv {
    background-color: white;
    padding: 5px;
    border-radius: 10px;
}

#footerlinks {
    text-align: center;
    font-size: 15px;
    padding: 20px;
}

#contactmessagebox {
    border: darkred solid 5px;
    border-radius: 10px;
}

#churchillimage {
    border-radius: 10px;
}

/*Classes*/

.story-img {
    margin-top: 25%;
    display: block;
}

.jumbotron {
    font-size: 28px;
    text-align: center;
}

.titlediv {
    text-align: center;
}

.linksimage {
    max-width: 100%;
    height: auto;
}

.whitefont {
    color: white;
}

.panel-default > .panel-heading-colour {
    background-color: darkred;
}

.linkimage {
    border-radius: 20px;
}

.ourteamimage {
    border: solid darkred 5px;
    border-radius: 10px;
}

.capitolimage {
    height: 100%;
    border-top: 60px;
    border-radius: 15px;
}

.blogimage {
    border: solid darkred 5px;
    border-radius: 10px;
}

.colourblack {
    color: black;
}

.footerhref {
    padding: 10px;
}