{% extends 'base.html' %}
{%  block content %}
{%  load staticfiles %}


    <div class="row">
        <div class="col-lg-12">
            <img class="acropolisimage" src = "{% static 'images/acropolistitle.jpg' %}">
        </div>
    </div>

    <!-- Page Content -->
    <div class="container">

        <!-- Title-->
        <div class="row">
            <hr>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading"  style="background: darkred">
                        <h4 class="whitefont"><i class="fa fa-fw fa-check whitefont"></i> Who Are We?</h4>
                    </div>
                    <div class="panel-body">
                        <p>Counterpoint 2020 was established to provide an accountable and moderated forum for political
                        discourse. Owing to the huge shifts in political discourse in 2016 and the increasing use of
                        social media as an outlet for political expression...</p>
                        <a href="{%  url 'about'  %}" class="btn btn-danger">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading" style="background: darkred">
                        <h4 class="whitefont"><i class="fa fa-fw fa-book whitefont"></i> What We Do</h4>
                    </div>
                    <div class="panel-body">
                        <p>We provide a blog to update members on new developments in the political sphere and a
                            moderated forum for members to open threads on various topics grouped into three
                            main subjects - European, American and World Politics...</p>
                        <a href="{%  url 'blog'  %}" class="btn btn-danger">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading" style="background: darkred">
                        <h4 class="whitefont"><i class="fa fa-fw fa-compass whitefont"></i> How To Join</h4>
                    </div>
                    <div class="panel-body">
                        <p>Counterpoint 2020 is a subscription site with a monthly payment of only €2. We charge a
                        subscription not only in order to cover the costs of running the site, but also to provide a
                        form of verifiable identiy for our members and posters....</p>
                        <a href="#" class="btn btn-danger">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <!-- Image Links  -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Links</h2>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="{%  url 'forum'  %}">
{#                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">#}
                    <img class="img-responsive img-portfolio img-hover linksimage" src = "{% static 'images/irishparliament.jpg' %}">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="{%  url 'blog'  %}">
{#                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">#}
                    <img class="img-responsive img-portfolio img-hover  linksimage" src = "{% static 'images/scribe.jpg' %}">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="{%  url 'login'  %}">
{#                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">#}
                    <img class="img-responsive img-portfolio img-hover" src = "{% static 'images/ladywriting.jpg' %}">
                </a>
            </div>

        </div>

        <br>
        <br>
        <!-- /.row -->

        <!-- Quote Of The Week Section -->
        <div class="row">

            <div class="col-md-6">
                <h2 class="page-header">Political Quote Of The Week</h2>
                <br>
                <p><strong>"To jaw-jaw is always better than to war-war"</strong></p>
                <br>
                <p>Sir Winston Churchill 1874-1965</p>
                <p><em>Former Prime Minister of the United Kingom and wartime leader</em></p>
            </div>
            <div class="col-md-6">
{#                <img class="img-responsive" src="http://placehold.it/700x450" alt="">#}
                <img class="img-responsive img-portfolio img-hover" src = "{% static 'images/churchill.jpg' %}">
            </div>
        </div>
        <!-- /.row -->

        <br>




    </div>

{%  endblock %}