{% extends "base.html" %}
{% block content %}

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Profile
                    <small>Your Account Info</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li class="active">Profile Page</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <!-- Sidebar Column -->
            <div class="col-md-4" id="profilemenu">
                <div class="list-group">
                    <a href="{%  url 'index'  %}" class="list-group-item">Home</a>
                    <a href="{%  url 'about'  %}" class="list-group-item">About</a>
                    <a href="{%  url 'contact'  %}" class="list-group-item">Contact</a>
                    <a href="{%  url 'blog'  %}" class="list-group-item">Blog</a>
                    <a href="{%  url 'forum'  %}" class="list-group-item">Forum</a>

                    {%  if user.is_authenticated %}
                        <a href ="{%  url 'profile'  %}" class="list-group-item active">Profile</a>
                        <a href ="{%  url 'logout' %}" class="list-group-item">Log Out</a>
                    {%  else %}
                        <a href="{%  url 'register'  %}" class="list-group-item">Register</a>
                        <a href="{%  url 'login' %}" class="list-group-item">LogIn</a>
                    {% endif %}


                </div>
            </div>

            <div class = "col-md-2"></div> <!--blank column for aesthetic layout-->

        <!-- Content Column -->
            <div class="col-md-6" id="profilecolumn">
                <h2>Your Details</h2>
                    <p>You are logged in as {{ user.email }} </p>
                    <p>Your stripe id is {{ user.stripe_id }} </p>
                    <hr>
                    <h2>Subscription Details</h2>
                    <p>You have {{ user.subscription_end|timeuntil}} left on your subscription</p>
                    <p>To cancel your subscription click 'Cancel Subscription' below</p>
                    <p>
                        <a href="{% url "cancel_subscription" %}"
                           onclick="return cancelSubscriptionCheck();"
                           class="btn btn-danger">Cancel Subscription</a>
                    </p>

            </div>
        </div>
        <!-- /.row -->

        <hr>


    </div>
    <!-- /.container -->


    <script type="text/javascript">
        function cancelSubscriptionCheck() {
            if (confirm('Are you sure you want to cancel?')) {
                return true;
            }
            return false;
        }
    </script>
{% endblock %}


